<h1>Destination Details</h1>
@using TravelClient.Models;

<ul>
  <li>ID: @Model.DestinationId</li>
  <li>Country: @Model.Country</li>
  <li>City: @Model.City</li>
  <li>Name: @Model.Name</li>
  <li>Average Rating: @Model.AverageRating</li>
  <li>Number of Reviews: @Model.NumOfReviews</li>
</ul>
